.env
__pycache__/
Include/
Lib/
Scripts/
share/
pyvenv.cfg
*.log
pytest.py
setup_tts.py
test_tts_response.py
Data/
Output/
Mongoose/
voice-bot-frontendcd/
node_modules/   
*.json
Tests/
myenv/
*.mp3
vector_flow/
logs/
Database/
run_integration.py
test_integration.py
run_integration_test.py
run_ttl_tests.py
test_decide_next_node.py
test_ttl_e2e.py
test_integeration.py
test_ttl_integration.py
test*.py
*.pdf
*.ini